In [1]:
# import
import pandas as pd

In [2]:
# read crime data
crime_df_3 = pd.read_excel('/Users/sabrinaho/Documents/GitHub/data-eng-final-proj-1/data/crime/Crimes_Against_Society_Offenses_Offense_Category_by_State_2020.xls.xlsx')

# read business ranking data
business_df_top250 = pd.read_csv('/Users/sabrinaho/Documents/GitHub/data-eng-final-proj-1/data/sales/Top250.csv')

## crime 3 clean

In [3]:
# society crime
crime_df_3 = crime_df_3.dropna()
columns_3 = ['State', 'Number of Participating Agencies', 'Population Covered', \
             'Total Offenses', 'Animal Cruelty', 'Drug/Narcotic Offenses', 'Gambling Offenses', \
            'Pornography/Obscene Material', 'Prostitution Offenses', 'Weapon Law Violations']

crime_df_3.set_axis(columns_3, axis=1, inplace=True)
crime_df_3.head(10)

,State,Number of Participating Agencies,Population Covered,Total Offenses,Animal Cruelty,Drug/Narcotic Offenses,Gambling Offenses,Pornography/Obscene Material,Prostitution Offenses,Weapon Law Violations
5,Total,9880,177522400,1273179,11566,1039388,1444,25268,7364,188149
6,Alabama,131,715130,3235,43,2903,1,11,0,277
7,Arizona,22,1769207,18239,182,16530,0,232,39,1256
8,Arkansas,281,2818360,35720,11,31860,17,390,48,3394
9,Colorado,225,5754151,31282,759,22217,5,874,224,7203
10,Connecticut,105,3488526,10780,85,8060,16,208,39,2372
11,Delaware,62,986809,12934,1154,9431,31,104,41,2173
13,Georgia,401,7938166,39015,885,32004,32,1153,246,4695
14,Hawaii,1,966438,3280,46,2400,313,60,40,421
15,Idaho,107,1819575,23704,52,22434,0,288,33,897

## business top250 clean

In [4]:
business_df_top250.head()

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
0,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,NaN,Quick Service & Burger
1,2,Starbucks,NaN,21380,8.6%,15049,3.0%,NaN,Quick Service & Coffee Cafe
2,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,NaN,Quick Service & Chicken
3,4,Taco Bell,NaN,11293,9.0%,6766,2.7%,NaN,Quick Service & Mexican
4,5,Burger King,NaN,10204,2.7%,7346,0.2%,NaN,Quick Service & Burger

In [5]:
wiki = pd.read_html('https://en.wikipedia.org/wiki/List_of_restaurant_chains_in_the_United_States')

for restaurant in business_df_top250.Restaurant:
    for table in wiki:
        try:
            hq = table[table.Name.str.lower() == restaurant.lower()].Headquarters.values[0]
            if len(hq) > 0:
                ind = business_df_top250.index[business_df_top250.Restaurant == restaurant].tolist()[0]
                business_df_top250.at[ind, 'Headquarters'] = hq
        except:
            continue

In [6]:
business_df_top250.head()

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
0,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,"Chicago, Illinois",Quick Service & Burger
1,2,Starbucks,NaN,21380,8.6%,15049,3.0%,"Seattle, Washington",Quick Service & Coffee Cafe
2,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,"College Park, Georgia",Quick Service & Chicken
3,4,Taco Bell,NaN,11293,9.0%,6766,2.7%,"Irvine, California",Quick Service & Mexican
4,5,Burger King,NaN,10204,2.7%,7346,0.2%,"Miami-Dade County, Florida",Quick Service & Burger

In [7]:
business_df_top250.drop('Content', axis=1, inplace=True)

In [8]:
business_df_top250.dropna(inplace=True)

In [9]:
lst = business_df_top250.Headquarters.str.split(', ')
city = []
state = []

for i in lst:
    city.append(i[0])
    state.append(i[1])
    
business_df_top250['City'] = city
business_df_top250['State'] = state

In [10]:
business_df_top250

,Rank,Restaurant,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category,City,State
0,1,McDonald's,40412,4.9%,13846,-0.5%,"Chicago, Illinois",Quick Service & Burger,Chicago,Illinois
1,2,Starbucks,21380,8.6%,15049,3.0%,"Seattle, Washington",Quick Service & Coffee Cafe,Seattle,Washington
2,3,Chick-fil-A,11320,13.0%,2470,5.0%,"College Park, Georgia",Quick Service & Chicken,College Park,Georgia
3,4,Taco Bell,11293,9.0%,6766,2.7%,"Irvine, California",Quick Service & Mexican,Irvine,California
4,5,Burger King,10204,2.7%,7346,0.2%,"Miami-Dade County, Florida",Quick Service & Burger,Miami-Dade County,Florida
...,...,...,...,...,...,...,...,...,...,...
238,239,Daylight Donuts,132,2.2%,415,0.2%,"Tulsa, Oklahoma",Snack,Tulsa,Oklahoma
241,242,Biggby Coffee,129,3.8%,240,0.8%,"Lansing, Michigan",Coffee Cafe,Lansing,Michigan
243,244,L&L Hawaiian Barbecue,129,5.1%,195,3.7%,"Honolulu, Hawaii",BBQ,Honolulu,Hawaii
245,246,Rainforest Cafe,129,-10.4%,18,-5.3%,"Houston, Texas",Varied Menu,Houston,Texas
249,250,Jollibee,126,15.2%,40,11.1%,"Pasig, Philippines",Chicken,Pasig,Philippines

In [11]:
crime_df_3.to_csv('/Users/sabrinaho/Documents/GitHub/data-eng-final-proj-1/clean_data/crime/crime_df_3_cleaned.csv', index=False)
business_df_top250.to_csv('/Users/sabrinaho/Documents/GitHub/data-eng-final-proj-1/clean_data/sales/top250.csv', index=False)

## clean for sql

In [2]:
# crime vs society

crime_society_df = pd.read_csv('/Users/sabrinaho/Documents/GitHub/data-eng-final-proj-1/clean_data/crime/crime_df_3_cleaned.csv')
crime_society_df.head()

,State,Number of Participating Agencies,Population Covered,Total Offenses,Animal Cruelty,Drug/Narcotic Offenses,Gambling Offenses,Pornography/Obscene Material,Prostitution Offenses,Weapon Law Violations
0,Total,9880,177522400,1273179,11566,1039388,1444,25268,7364,188149
1,Alabama,131,715130,3235,43,2903,1,11,0,277
2,Arizona,22,1769207,18239,182,16530,0,232,39,1256
3,Arkansas,281,2818360,35720,11,31860,17,390,48,3394
4,Colorado,225,5754151,31282,759,22217,5,874,224,7203

In [3]:
# drop columns
crime_society_df.drop(['Number of Participating Agencies', 'Population Covered', 'Total Offenses'], axis=1, inplace=True)

# add state_id
state_lst = ['Alabama',
'Alaska',
'Arizona',
'Arkansas',
'California',
'Colorado',
'Connecticut',
'Delaware',
'Florida',
'Georgia',
'Hawaii',
'Idaho',
'Illinois',
'Indiana',
'Iowa',
'Kansas',
'Kentucky',
'Louisiana',
'Maine',
'Maryland',
'Massachusetts',
'Michigan',
'Minnesota',
'Mississippi',
'Missouri',
'Montana',
'Nebraska',
'Nevada',
'New Hampshire',
'New Jersey',
'New Mexico',
'New York',
'North Carolina',
'North Dakota',
'Ohio',
'Oklahoma',
'Oregon',
'Pennsylvania',
'Rhode Island',
'South Carolina',
'South Dakota',
'Tennessee',
'Texas',
'Utah',
'Vermont',
'Virginia',
'Washington',
'West Virginia',
'Wisconsin',
'Wyoming']

state_d = {}
for i in range(1, len(state_lst)+1):
    state_d[state_lst[i-1]] = i
    
# create state id
crime_society_df['state_id'] = crime_society_df['State'].apply(lambda x: state_d.get(x) if x in state_d else 0)

In [4]:
crime_society_df

,State,Animal Cruelty,Drug/Narcotic Offenses,Gambling Offenses,Pornography/Obscene Material,Prostitution Offenses,Weapon Law Violations,state_id
0,Total,11566,1039388,1444,25268,7364,188149,0
1,Alabama,43,2903,1,11,0,277,1
2,Arizona,182,16530,0,232,39,1256,3
3,Arkansas,11,31860,17,390,48,3394,4
4,Colorado,759,22217,5,874,224,7203,6
5,Connecticut,85,8060,16,208,39,2372,7
6,Delaware,1154,9431,31,104,41,2173,8
7,Georgia,885,32004,32,1153,246,4695,10
8,Hawaii,46,2400,313,60,40,421,11
9,Idaho,52,22434,0,288,33,897,12
10,Illinois,1,557,0,32,6,539,13
11,Indiana,437,30118,249,718,60,4832,14
12,Iowa,0,21444,3,392,31,2436,15
13,Kansas,1,27134,6,387,76,2934,16
14,Kentucky,178,41189,13,573,84,2875,17
15,Louisiana,2,12399,14,314,97,1988,18
16,Maine,26,2693,2,216,37,196,19
17,Maryland,5,3099,1,105,28,898,20
18,Massachusetts,115,8846,59,891,157,3238,21
19,Michigan,487,25083,23,1070,508,15803,22
20,Minnesota,260,17993,12,497,22,3994,23
21,Mississippi,209,12103,7,119,18,1425,24
22,Missouri,214,40198,29,489,106,5048,25
23,Montana,100,7211,0,16,23,208,26
24,Nebraska,53,7680,0,184,22,694,27
25,Nevada,44,8506,20,86,590,2470,28
26,New Hampshire,188,6183,4,700,68,461,29
27,New Mexico,62,5918,1,157,59,1696,31
28,New York,0,2548,0,51,27,498,32
29,North Carolina,481,84595,95,1551,311,13086,33
30,North Dakota,88,12035,6,192,34,638,34
31,Ohio,218,48301,3,1246,409,11788,35
32,Oklahoma,102,15950,1,513,75,3154,36
33,Oregon,407,15546,1,520,116,5799,37
34,Pennsylvania,1,219,0,7,0,40,38
35,Rhode Island,35,2265,7,413,13,824,39
36,South Carolina,313,46806,40,803,169,8975,40
37,South Dakota,21,12738,11,232,33,724,41
38,Tennessee,423,79671,20,790,340,12628,42
39,Texas,2137,126171,376,3523,1942,21031,43
40,Utah,64,35355,4,520,143,3399,44
41,Vermont,33,1181,1,88,16,78,45
42,Virginia,1164,56611,9,1894,371,14022,46
43,Washington,200,23864,9,739,415,5625,47
44,West Virginia,9,10653,0,495,30,1592,48
45,Wisconsin,241,37553,3,1418,216,9734,49
46,Wyoming,29,803,0,7,2,14,50

In [5]:
# crime vs person

crime_person_df = pd.read_csv('/Users/sabrinaho/Documents/GitHub/data-eng-final-proj-1/clean_data/crime/crime_df_1_cleaned.csv')
crime_person_df.head()

,Unnamed: 0,State,Number of Participating Agencies,Population Covered,Total Offenses,Assault Offenses,Homicide Offenses,Human Trafficking,Kidnapping/ Abduction,Sex Offenses
0,0,Total,9880.0,177522400.0,2235280.0,2063412.0,11815.0,1576.0,31216.0,127261.0
1,1,Alabama,131.0,715130.0,4384.0,4214.0,24.0,0.0,52.0,94.0
2,2,Arizona,22.0,1769207.0,18440.0,16756.0,86.0,5.0,302.0,1291.0
3,3,Arkansas,281.0,2818360.0,63893.0,60103.0,340.0,2.0,685.0,2763.0
4,4,Colorado,225.0,5754151.0,64221.0,55631.0,350.0,30.0,2403.0,5807.0

In [6]:
# drop columns
crime_person_df.drop(['Unnamed: 0', 'Number of Participating Agencies', 'Population Covered', 'Total Offenses'], axis=1, inplace=True)
crime_person_df.head()

,State,Assault Offenses,Homicide Offenses,Human Trafficking,Kidnapping/ Abduction,Sex Offenses
0,Total,2063412.0,11815.0,1576.0,31216.0,127261.0
1,Alabama,4214.0,24.0,0.0,52.0,94.0
2,Arizona,16756.0,86.0,5.0,302.0,1291.0
3,Arkansas,60103.0,340.0,2.0,685.0,2763.0
4,Colorado,55631.0,350.0,30.0,2403.0,5807.0

In [7]:
# create state id
crime_person_df['state_id'] = crime_person_df['State'].apply(lambda x: state_d.get(x) if x in state_d else 0)
crime_person_df

,State,Assault Offenses,Homicide Offenses,Human Trafficking,Kidnapping/ Abduction,Sex Offenses,state_id
0,Total,2063412.0,11815.0,1576.0,31216.0,127261.0,0
1,Alabama,4214.0,24.0,0.0,52.0,94.0,1
2,Arizona,16756.0,86.0,5.0,302.0,1291.0,3
3,Arkansas,60103.0,340.0,2.0,685.0,2763.0,4
4,Colorado,55631.0,350.0,30.0,2403.0,5807.0,6
5,Connecticut,25994.0,134.0,10.0,249.0,1446.0,7
6,Delaware,15255.0,87.0,6.0,215.0,591.0,8
7,Georgia,91136.0,605.0,215.0,2040.0,5965.0,10
8,Hawaii,8358.0,25.0,10.0,323.0,660.0,11
9,Idaho,14725.0,48.0,4.0,241.0,1954.0,12
10,Illinois,5350.0,33.0,0.0,117.0,188.0,13
11,Indiana,49876.0,448.0,39.0,1275.0,3665.0,14
12,Iowa,28466.0,124.0,0.0,220.0,2062.0,15
13,Kansas,39051.0,95.0,0.0,1239.0,2222.0,16
14,Kentucky,43377.0,366.0,19.0,1166.0,2959.0,17
15,Louisiana,21860.0,130.0,2.0,228.0,775.0,18
16,Maine,7599.0,20.0,3.0,21.0,695.0,19
17,Maryland,7239.0,100.0,5.0,20.0,812.0,20
18,Massachusetts,64802.0,167.0,28.0,487.0,3425.0,21
19,Michigan,143029.0,848.0,49.0,818.0,10366.0,22
20,Minnesota,28884.0,188.0,50.0,464.0,3014.0,23
21,Mississippi,16016.0,91.0,0.0,78.0,658.0,24
22,Missouri,54524.0,402.0,36.0,513.0,2983.0,25
23,Montana,11845.0,61.0,4.0,272.0,1448.0,26
24,Nebraska,8192.0,25.0,1.0,138.0,891.0,27
25,Nevada,23483.0,93.0,111.0,419.0,1561.0,28
26,New Hampshire,13096.0,24.0,7.0,253.0,1533.0,29
27,New Mexico,23577.0,126.0,4.0,853.0,1398.0,31
28,New York,11135.0,22.0,0.0,193.0,522.0,32
29,North Carolina,120176.0,809.0,56.0,1900.0,5518.0,33
30,North Dakota,9620.0,34.0,11.0,135.0,969.0,34
31,Ohio,139203.0,747.0,16.0,1908.0,7081.0,35
32,Oklahoma,33454.0,206.0,12.0,459.0,2659.0,36
33,Oregon,34389.0,171.0,24.0,445.0,3194.0,37
34,Pennsylvania,238.0,3.0,0.0,5.0,18.0,38
35,Rhode Island,8508.0,32.0,3.0,52.0,651.0,39
36,South Carolina,88748.0,575.0,23.0,1085.0,3654.0,40
37,South Dakota,12063.0,52.0,2.0,171.0,1128.0,41
38,Tennessee,136180.0,747.0,40.0,2028.0,5318.0,42
39,Texas,337069.0,1792.0,399.0,2758.0,15783.0,43
40,Utah,28617.0,110.0,66.0,891.0,4036.0,44
41,Vermont,3569.0,18.0,1.0,93.0,307.0,45
42,Virginia,91564.0,588.0,60.0,1642.0,4821.0,46
43,Washington,72069.0,334.0,78.0,1264.0,5243.0,47
44,West Virginia,13128.0,121.0,59.0,137.0,1163.0,48
45,Wisconsin,39165.0,409.0,85.0,938.0,3801.0,49
46,Wyoming,1085.0,2.0,1.0,18.0,107.0,50

In [8]:
# save csv

crime_society_df.to_csv('/Users/sabrinaho/Documents/GitHub/data-eng-final-proj-1/clean_data/crime/crime_society.csv', index=False)
crime_person_df.to_csv('/Users/sabrinaho/Documents/GitHub/data-eng-final-proj-1/clean_data/crime/crime_person.csv', index=False)

In [1]:
import pandas as pd

In [4]:
# read business df
business_df = pd.read_csv('/Users/sabrinaho/Documents/GitHub/data-eng-final-proj-1/clean_data/sales/business_df.csv')
business_df

,Restaurant,Sales,City,State,YOY_Sales,state_id
0,Evergreens,2400000.0,Seattle,Washington,130.5%,47
1,Clean Juice,4400000.0,Charlotte,North Carolina,121.9%,33
2,Slapfish,2100000.0,Huntington Beach,California,81.0%,5
3,Clean Eatz,2500000.0,Wilmington,North Carolina,79.7%,33
4,Pokeworks,4900000.0,Irvine,California,77.1%,5
...,...,...,...,...,...,...
335,Daylight Donuts,13200000.0,Tulsa,Oklahoma,2.2%,36
336,Biggby Coffee,12900000.0,Lansing,Michigan,3.8%,22
337,L&L Hawaiian Barbecue,12900000.0,Honolulu,Hawaii,5.1%,11
338,Rainforest Cafe,12900000.0,Houston,Texas,-10.4%,43
339,Jollibee,12600000.0,Pasig,Philippines,15.2%,0