In [1]:
# import
import pandas as pd

In [2]:
# read crime data
crime_df_3 = pd.read_excel('/Users/sabrinaho/Documents/GitHub/data-eng-final-proj-1/data/crime/Crimes_Against_Society_Offenses_Offense_Category_by_State_2020.xls.xlsx')

# read business ranking data
business_df_top250 = pd.read_csv('/Users/sabrinaho/Documents/GitHub/data-eng-final-proj-1/data/sales/Top250.csv')

## crime 3 clean

In [3]:
# society crime
crime_df_3 = crime_df_3.dropna()
columns_3 = ['State', 'Number of Participating Agencies', 'Population Covered', \
             'Total Offenses', 'Animal Cruelty', 'Drug/Narcotic Offenses', 'Gambling Offenses', \
            'Pornography/Obscene Material', 'Prostitution Offenses', 'Weapon Law Violations']

crime_df_3.set_axis(columns_3, axis=1, inplace=True)
crime_df_3.head(10)

,State,Number of Participating Agencies,Population Covered,Total Offenses,Animal Cruelty,Drug/Narcotic Offenses,Gambling Offenses,Pornography/Obscene Material,Prostitution Offenses,Weapon Law Violations
5,Total,9880,177522400,1273179,11566,1039388,1444,25268,7364,188149
6,Alabama,131,715130,3235,43,2903,1,11,0,277
7,Arizona,22,1769207,18239,182,16530,0,232,39,1256
8,Arkansas,281,2818360,35720,11,31860,17,390,48,3394
9,Colorado,225,5754151,31282,759,22217,5,874,224,7203
10,Connecticut,105,3488526,10780,85,8060,16,208,39,2372
11,Delaware,62,986809,12934,1154,9431,31,104,41,2173
13,Georgia,401,7938166,39015,885,32004,32,1153,246,4695
14,Hawaii,1,966438,3280,46,2400,313,60,40,421
15,Idaho,107,1819575,23704,52,22434,0,288,33,897

## business top250 clean

In [4]:
business_df_top250.head()

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
0,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,NaN,Quick Service & Burger
1,2,Starbucks,NaN,21380,8.6%,15049,3.0%,NaN,Quick Service & Coffee Cafe
2,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,NaN,Quick Service & Chicken
3,4,Taco Bell,NaN,11293,9.0%,6766,2.7%,NaN,Quick Service & Mexican
4,5,Burger King,NaN,10204,2.7%,7346,0.2%,NaN,Quick Service & Burger

In [5]:
wiki = pd.read_html('https://en.wikipedia.org/wiki/List_of_restaurant_chains_in_the_United_States')

for restaurant in business_df_top250.Restaurant:
    for table in wiki:
        try:
            hq = table[table.Name.str.lower() == restaurant.lower()].Headquarters.values[0]
            if len(hq) > 0:
                ind = business_df_top250.index[business_df_top250.Restaurant == restaurant].tolist()[0]
                business_df_top250.at[ind, 'Headquarters'] = hq
        except:
            continue

In [6]:
business_df_top250.head()

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
0,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,"Chicago, Illinois",Quick Service & Burger
1,2,Starbucks,NaN,21380,8.6%,15049,3.0%,"Seattle, Washington",Quick Service & Coffee Cafe
2,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,"College Park, Georgia",Quick Service & Chicken
3,4,Taco Bell,NaN,11293,9.0%,6766,2.7%,"Irvine, California",Quick Service & Mexican
4,5,Burger King,NaN,10204,2.7%,7346,0.2%,"Miami-Dade County, Florida",Quick Service & Burger

In [7]:
business_df_top250.drop('Content', axis=1, inplace=True)

In [8]:
business_df_top250.dropna(inplace=True)

In [9]:
lst = business_df_top250.Headquarters.str.split(', ')
city = []
state = []

for i in lst:
    city.append(i[0])
    state.append(i[1])
    
business_df_top250['City'] = city
business_df_top250['State'] = state

In [10]:
business_df_top250

,Rank,Restaurant,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category,City,State
0,1,McDonald's,40412,4.9%,13846,-0.5%,"Chicago, Illinois",Quick Service & Burger,Chicago,Illinois
1,2,Starbucks,21380,8.6%,15049,3.0%,"Seattle, Washington",Quick Service & Coffee Cafe,Seattle,Washington
2,3,Chick-fil-A,11320,13.0%,2470,5.0%,"College Park, Georgia",Quick Service & Chicken,College Park,Georgia
3,4,Taco Bell,11293,9.0%,6766,2.7%,"Irvine, California",Quick Service & Mexican,Irvine,California
4,5,Burger King,10204,2.7%,7346,0.2%,"Miami-Dade County, Florida",Quick Service & Burger,Miami-Dade County,Florida
...,...,...,...,...,...,...,...,...,...,...
238,239,Daylight Donuts,132,2.2%,415,0.2%,"Tulsa, Oklahoma",Snack,Tulsa,Oklahoma
241,242,Biggby Coffee,129,3.8%,240,0.8%,"Lansing, Michigan",Coffee Cafe,Lansing,Michigan
243,244,L&L Hawaiian Barbecue,129,5.1%,195,3.7%,"Honolulu, Hawaii",BBQ,Honolulu,Hawaii
245,246,Rainforest Cafe,129,-10.4%,18,-5.3%,"Houston, Texas",Varied Menu,Houston,Texas
249,250,Jollibee,126,15.2%,40,11.1%,"Pasig, Philippines",Chicken,Pasig,Philippines

In [11]:
crime_df_3.to_csv('/Users/sabrinaho/Documents/GitHub/data-eng-final-proj-1/clean_data/crime/crime_df_3_cleaned.csv', index=False)
business_df_top250.to_csv('/Users/sabrinaho/Documents/GitHub/data-eng-final-proj-1/clean_data/sales/top250.csv', index=False)